<div class="cm-banner1__top" #bgPrimary></div>
<div class="cm-banner1__bottom"></div>
<div class="cm-banner1__center" #bgPrimary #borderSecondary>
  <div class="cm-banner1__center-quotes">
    <img [src]="images?.url1"/>
  </div>
  <div class="cm-banner1__center-text" [style.color]="text?.text1.color">
    {{text?.text1?.caption}}
  </div>
  <div class="cm-banner1__center-sub" [style.color]="text?.text2?.color">{{text?.text2?.caption}}</div>
  <div class="cm-banner1__center-signature" [style.color]="text?.text3?.color">{{text?.text3?.caption}}</div>
</div>


