<div class="cm-banner1__top"></div>
<div class="cm-banner1__bottom"></div>
<div class="cm-banner1__center">
  <div class="cm-banner1__center-quotes">
    <img src="/assets/img/elements/banners/banner1/quote.icon.png"/>
  </div>
  <div class="cm-banner1__center-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
  </div>
  <div class="cm-banner1__center-sub">Sincere</div>
  <div class="cm-banner1__center-signature">Mr. Smith</div>
</div>


