<div class="cm-banner7__left-top">
  <div>{{text?.text1?.caption}}</div>
</div>
<div class="cm-banner7__left-bottom" [style.background-image]="'url(' + backgroundImages?.primary + ')'"></div>

<div class="cm-banner7__right-top">
  <div>TextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText</div>
</div>
<div class="cm-banner7__right-bottom"></div>
<div class="cm-banner7__text">{{text?.text2?.caption}}</div>
