<div class="cm-banner7__left-top">
  <div>Very inspiring text for two lines straight.</div>
</div>
<div class="cm-banner7__left-bottom"></div>

<div class="cm-banner7__right-top">
  <div>TextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText
    TextTextTextTextTextTextTextTextTextTextTextText</div>
</div>
<div class="cm-banner7__right-bottom"></div>
<div class="cm-banner7__text">Enjoy your life</div>
