<div class="cm-banners__container">
  <div class="cm-banners__container-banner">
    <cm-banner1></cm-banner1>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner2></cm-banner2>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner3></cm-banner3>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner4></cm-banner4>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner5></cm-banner5>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner6></cm-banner6>
  </div>
  <div class="cm-banners__container-banner">
    <cm-banner7></cm-banner7>
  </div>
</div>
