<div class="cm-banner8__right" [style.background-image]="'url(' + backgroundImages?.url1 + ')'"></div>
<div class="cm-banner8__left"></div>
<div class="cm-banner8__center-outer"></div>
<div class="cm-banner8__center-inner">
  <div class="cm-banner8__center-inner_text-top">{{text?.text1?.caption}}</div>
  <div class="cm-banner8__center-inner_text-line"></div>
  <div class="cm-banner8__center-inner_text-center">{{text?.text2?.caption}}</div>
  <div class="cm-banner8__center-inner_text-bottom">{{text?.text3?.caption}}</div>
</div>
