<div class="cm-banner11">
  <div class="cm-banner11-left" [style.background-image]="'url(' + backgroundImages?.url1 + ')'"></div>
  <div class="cm-banner11-bottom-container"></div>
  <div class="cm-banner11-top-left"></div>
  <div class="cm-banner11-top-right">
    <div class="cm-banner11-top-right-header">{{text?.text1?.caption}}</div>
    <div class="cm-banner11-top-right-text">{{text?.text2?.caption}}</div>
  </div>
  <div class="cm-banner11-bottom-text"><span>{{text?.text3?.caption}}</span></div>
</div>
